html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #333333;
    font-family: Calibri, Arial, sans-serif
}

h1 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

h2 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

h3 {
    padding: 0px;
    margin: 0px 0px 5px 0px;
}

a {
    cursor: pointer;
    color: #000022;
    text-decoration: underline;
}

li {
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 0px;
    margin: 0px;
}

a img {
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.fullwidth {
    width: 100%;
}

.fullheight {
}

.umbra_top {
    top: 130px;
    height: 100px;
}

.umbra_left {
    width: 200px;
    position: absolute;
    height: 100%;
}

.umbra_right {
    width: 200px;
    margin-right: 0px;
    position: absolute;
    height: 100%;
}

.umbra_centered {
    position: absolute;
    height: 100%;
}

.umbra_bottom {
    margin-bottom: 0px;
    height: 100px;
}

.umbra_title {
    font-size: 150%;
    float: right;
    margin: 2px 20px 2px 20px;
    color: white;
}

.umbra_area .tabs {
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    padding: 0px 0px 0px 5px;
    background-color: #333333;
}

    .umbra_area .tabs .tab {
        padding: 2px 5px 2px 5px;
        display: inline-block;
        border-right: 1px solid black;
        font-size: 90%;
        min-width: 9em;
        cursor: pointer;
        background-color: #EEEEEE;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    }

        .umbra_area .tabs .tab:hover {
            background-color: white;
        }

        .umbra_area .tabs .tab a {
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
        }

        .umbra_area .tabs .tab div.closed {
            float: right;
        }

        .umbra_area .tabs .tab span {
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            vertical-align: middle;
        }

        .umbra_area .tabs .tab.selected {
            font-weight: bold;
            background-color: #BBBBBB;
        }

        .umbra_area .tabs .tab .closed img {
            cursor: pointer;
            padding: 0px;
            vertical-align: middle;
            margin: 0px;

        }

.umbra_area .content {
    overflow: auto;
    clear: left;
    background-color: white;
    padding: 5px;
}

.umbra_area .content table {
    border: 1px solid #666666;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.umbra_area .content table th {
    border: 1px solid #000000;
    font-weight: bold;
    color: white;
    background-color: #666666;
    text-align: left;
    padding: 2px 5px 2px 5px;
}

.umbra_area .content table td {
    border: 1px solid #333333;
    background-color: #EEEEEE;
    text-align: left;
    padding: 2px 5px 2px 5px;
}

.umbra_dragarea {
    background-color: #DDDDFF;
}

    .umbra_dragarea.vertical {
        width: 3px;
        cursor: col-resize;
        position: absolute;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .umbra_dragarea.horizontal {
        height: 3px;
        cursor: row-resize;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }

.umbra_ribbon .tabs {
    margin: 2px 5px 2px 5px;
}

.umbra_ribbon .tabs .tab {
    padding: 2px 5px 2px 5px;
    margin: 0px 1px 0px 1px;
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    background-color: #CCCCCC;
    font-weight: bold;
    font-size: 110%;
}

.umbra_ribbon .tabs .tab:hover {
    background-color: #FFFFFF;
}

.umbra_ribbon .content {
    padding: 0px 5px 0px 5px;
    background-color: #444444;
}

    .umbra_ribbon .content .tabcontent .group {
        display: inline-block;
        background-color: #EEEEEE;
        margin: 0px 2px 0px 2px;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    
    .umbra_ribbon .content .tabcontent .header {
        text-align: center;
        font-weight: bold;
        background-color: #DDDDDD;
        border-bottom: 1px solid black;
        -webkit-border-top-left-radius: 4px;
        border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        border-top-right-radius: 4px;
    }
        .umbra_ribbon .content .tabcontent .group:hover .header {
                background-color: #FFFFFF;
        }

        .umbra_ribbon .content .tabcontent .group .element {
            text-align: center;
            margin: 2px; 
            background-color: #CCCCCC;
            display: inline-block;
            height: 60px;
            width: 60px;
            border: 1px solid black;
        }
            .umbra_ribbon .content .tabcontent .group .element:hover {
                background-color: #FFFFFF;
            }

        .umbra_ribbon .content .tabcontent .group .element a {
            text-decoration: none;
        }

.umbra_area .content ul.treeview {
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-top: 10px;
    background-color: #DDDDDD;
}

.umbra_area .content ul.treeview li{
    vertical-align: middle;
    border-bottom: 1px solid black;
    font-size: 80%;
    padding: 2px;
}

.umbra_area .content .treeview img.open{
    text-decoration: none;
    vertical-align: middle;
    float: right;
    margin-right: 2px;
    cursor: pointer;
}

.umbra_area .content .treeview img.title{
    margin-top: 5px;
    margin-right: 5px;
}