body {
    padding: 10px;

    .defaulthidden {
        display: none;
    }

    .warning {
        color: #990000;
    }

    .extentcontainer {
        table {
        }
    }
    /* All views are not visible by default */
    #content > div {
        display: none;
    }
}
