@{    
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DatenMeister - @ViewBag.PageTitle</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <script data-main="/Scripts/require-config.js" src="~/Scripts/require.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
