
@{
    this.ViewBag.PageTitle = "Show Extent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DatenMeisterWeb.Controllers.ExtentsController.MVVMExtentOverview

<script type="text/javascript">
    $(document).ready(function () {
        var uri = "@this.Model.Extent.ContextURI()";

        require(['datenmeister-extent'], function (extent) {
            var config = new extent.ExtentOverviewConfiguration();
            config.extentUri = uri;
            config.domTable = $("#extentTable");
            config.domSearchString = $("#extentSearchBox");

            var extentTable = new extent.ExtentOverviewManager();
            extentTable.loadTable(config);
        });
    });
</script>
<div class="row">
    <div class="col-lg-12">
        <h1>Show Extent</h1>
        Extent: @this.Model.Extent.ContextURI()
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
        <div id="extentTable">
            <p class="text-info">Table is getting loaded</p>
        </div>
    </div>
    <div class="col-lg-2">
        <p>Search:</p>
        <input type="text" id="extentSearchBox" />
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.ActionLink("Back to extents", "Index")
            </div>
        </div>



